.top{
    font-size: 10px;
    text-align: center;
    color:#dccdc9;
    padding: 7px;
    background-color: #b99b93;
    letter-spacing: 3px;
}
img{
    width: 30px;
    height: 30px;
}
.menu{
    margin-left : 20px;
    margin-right : 20px;
    float: left;
}

.lush{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size : 28px;
    box-align : middle;
    letter-spacing: 20px;
    color : #060606;
    float: left;
    height: 30px;
}
.serch{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: right;
}
.topbeck{
    clear:left;
    background-color: #ecdacc;
    height: 150px;
    padding : 100px;
    margin : 50px 0 0 0;
}
.subj{
    color: white;
    letter-spacing: 10px;
    text-align: center;
    font-size: 40px;
}
.inputcont{
    margin: 0 auto;
    width: fit-content
}
#input{
    border: none;
    font-size: 15px;
    padding-left: 5px;
    outline: none;
    box-sizing: border-box;
    border-radius: 20px;
    width: 700px;
    padding: 15px;
    margin : 0 auto;
    position: relative;
}
input::placeholder{
    color: #b99b93;
    letter-spacing: 3px;
}
.here{
    -webkit-filter: opacity(1) drop-shadow(0 0 0 #b99b93);
    filter: opacity(.4) drop-shadow(0 0 0 #b99b93);
    position: relative;
    right: 48px;
    top: 9px;
}
.FAQ{
    color: #b99b93;
    margin : 100px auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 10px;
}
.policy{
    color: #b99b93;
    letter-spacing: 5px;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    
}
.underline{
    text-decoration: underline;
    color:#b99b93;
}
hr{
    width: 1350px;
    margin-right: 90px;
    border-bottom: #b99b93;
    margin-top : 10px;
    margin-bottom: 20px;

}
.answser{
    background-color: #ecdacc;
    height : 200px;
    padding-top: 20px;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 30px;


}
.answser1{
    color:#b99b93;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 50px;

}
.rest{
    color: #b99b93;
    letter-spacing: 5px;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.help{
    color: #b99b93;
    letter-spacing: 3px;
    font-size: 13px;
    border-right: solid 2px;
    border-right-color: #b99b93;
    text-decoration: none;
    float : left;
    padding : 0 9 0 0px;
    margin : 5px;
    font-weight: 800;

}
.helpcont{
    width: fit-content;
    margin: 0 auto;
}
.snscont{
    clear: both;
    width: fit-content;
    margin: 30 auto;
}
.sns{
    -webkit-filter: opacity(1) drop-shadow(0 0 0 #b99b93);
    filter: opacity(.4) drop-shadow(0 0 0 #b99b93);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-top: 50px;
    }
.sign{
    text-align: center;
    color: #b99b93;
    letter-spacing: 1px;
    font-size: 8px;
}

.list{
    list-style: none;
    color: #b99b93;
    letter-spacing: 5px;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 600px;
}
.plus{
     float: right;
     margin-right: 40px;
     -webkit-filter: opacity(1) drop-shadow(0 0 0 #b99b93);
     filter: opacity(.4) drop-shadow(0 0 0 #b99b93);
     width: 33px;
     margin-bottom: 5px;
}
.minus{
    float: right;
    margin-right: 44px;
    -webkit-filter: opacity(1) drop-shadow(0 0 0 #b99b93);
    filter: opacity(.4) drop-shadow(0 0 0 #b99b93);   
    width: 24px;
}
