            .top{
                font-size: 10px;
                text-align: center;
                color:#dccdc9;
                padding: 7px;
                background-color: #b99b93;
                letter-spacing: 3px;
            }

            .menu{
                margin-left : 20px;
                margin-right : 20px;
                float: left;
            }
            img{
                width: 30px;
                height: 30px;
            }

            .lush{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size : 28px;
                box-align : middle;
                letter-spacing: 20px;
                color : #060606;
                float: left;
                height: 30px;
            }
            .serch{
                margin-right: 10px;
                width: 30px;
                height: 30px;
                float: right;
            }

            .contact{
                letter-spacing: 20px;
                font-weight: bold;
                color:#b99b93;
                font-size: 50px;
                text-align: center;
                margin-top: 120px;
            }

            .underline{
                text-align: center;
                text-decoration: underline;
                color:#b99b93;
            }
            hr{
                width:310px;
                border-bottom : 4px solid #b99b93;
            }

            .box{
                float:left;
                border: 2px solid #ba9b93;
                border-radius: 20px;
                text-align: center;
                color :  #b99b93;
                width: 250px;
                margin : 27px;
                padding : 15px;
                height : 280px;

            }

            .icon{
                background-color: #b99b93;
                border-radius: 30px;
                width: 60px;
                height: 60px;
                margin: 35px auto;
            }

            .box h3{
                letter-spacing: 5px;
            }

            .box p{
                letter-spacing: 2px;
                font-size: 12px;
            }
            .box-container{
                margin : 0 auto;
                width: fit-content;
            }
            .web{
               margin-bottom: 0px;
               font-size: 11px;
            }
            .tel{
                margin-top: 5px;
                font-size: 10px;
                letter-spacing: 2px;
            }
            .phone{
                font-size: 20px;
                margin-top: 30px;
                margin-bottom: 25px;
            }
            .botbeck{
                clear:left;
                background-color: #ecdacc;
                height: 300px;

                padding : 100px;
                margin : 550px 0 100px 0;
            }
            .messageus{
                color: white;
                font-weight: 600;
                letter-spacing: 10px;
                font-size: 30px;
                float : left;
            }
            .textbox{
                float : right;
            }
            input::placeholder{
                color: #b99b93;
            }
            textarea::placeholder{
                color: #b99b93;

            }
            input{
                width: 700px;
                padding: 9px;
                border-width: 0;
                border-color: white;
                float: right;
                clear : right;
                margin-bottom : 10px;
                outline: none;
            }

            textarea{
                height: 100px;
                padding: 9px;
                width: 700px;
                border-width: 0;
                border-color: white;
                color: #b99b93;
                float: right;
                clear : right;
                font-size : 13.333px;
                font-weight: 400;
                font-family: Arial, Helvetica, sans-serif;
                resize: none;
                outline: none;
            }
            .submit{
                color : white;
                background-color: #b99b93;
                margin-top: 5px;
            }
            .help{
                color: #b99b93;
                letter-spacing: 3px;
                font-size: 13px;
                border-right: solid 2px;
                border-right-color: #b99b93;
                text-decoration: none;
                float : left;
                padding : 0 9 0 0px;
                margin : 5px;
                font-weight: 800;

            }
            .helpcont{
                width: fit-content;
                margin: 0 auto;
            }
            .snscont{
                clear: both;
                width: fit-content;
                margin: 30 auto;
            }
            .sns{
                -webkit-filter: opacity(1) drop-shadow(0 0 0 #b99b93);
                filter: opacity(.4) drop-shadow(0 0 0 #b99b93);
                margin-right: 15px;
                margin-top: 50px;
                }
            .sign{
                text-align: center;
                color: #b99b93;
                letter-spacing: 1px;
                font-size: 8px;
            }
