.background{
    background-color:  #f2e0d6;
}

.calTable{
    width: 100%;
    height: 100%;
    border: 1px solid #bc9e96;
    border-collapse: collapse;
    margin: 50px;
}
th, td{
    border: 1px solid #bc9e96;
    font-size: 25px;
    padding-left: 30px;
    color : #434241;
    font-weight: normal;
    width: 100px;
    height: 70px;
}
.tableTitle{
    font-size: 70px;
    margin-bottom: 50px;
    color : #bc9d95;
    letter-spacing: 2px;
}
.backWhite{
    background-color: white;
}