span{
                color: red;
            }

            .akdmaeofh{
                font-size: 30px;
            }

            .second{
                background-color: yellow;
            }

            .button{
                padding: 20px;
                background-color: gray;
                text-align: center;
                width: 50px;
                height: 30px;
                transition: all 0.5s;
                color: black;
                text-decoration: none;
            }

            .button:hover{
                background-color: lightgray;
            }

div{
    font-size:50px;
}